server/node_modules/
server/.env
*.log

tiktok_game/Library/
tiktok_game/Temp/
tiktok_game/Obj/
tiktok_game/Logs/
tiktok_game/UserSettings/
tiktok_game/ProfilerCaptures/
tiktok_game/.vs/

*.csproj
*.sln
*.slnx
*.vsconfig